
.event-data-outer {
     /* Background Gradient for Complementary Colors */
    
    background-image:  linear-gradient(rgba(85, 63, 190, 0.25) 0%, rgba(255, 255, 255, 0) 46.35%), linear-gradient(rgba(241, 97, 98, 0.25) 22.92%, rgba(255, 255, 255, 0) 100%);
    width: 90vw;
    height: 700px;
    text-align: center;
    margin: 0 auto;
}

.event-data-inner {
    color: white;
}

.main-text-outer {
    position: relative;

}

.main-text-inner {
    position: absolute;
    font-family: 'Bungee', cursive;
    text-align: left;
    padding-left: 80px;
    font-size: 3vw;
}

@media only screen and (max-width: )