.App {
  text-align: center;
}

#news- {
  position: absolute;
  display: block;
  top: 2em;
  width: 60%;
  font-size: 2em;
  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;

}

.ml-auto {
  color: white;
}

.newsArticles {
  background-color: gray;
  color: white;
}

.newsArticles > div {
  margin: 50px;
  font-size: 20px;
  color: white;
}

a {
  font-family: "Times New Roman";
}


