.App {
  text-align: center;
}

#news- {
  position: absolute;
  display: block;
  top: 2em;
  width: 60%;
  font-size: 2em;
  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;

}

/* .carousel {
  padding: 10px, 60px, 10px, 60px;
} */

/* .ml-auto {
  color: white;
} */

.newsArticles {
  position: relative;
  background-position: center;
  color: black;
  height: 30vh;

}

/* .newsArticles > div {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  margin: 50px;
  font-size: 20px;
  color: black;
  top: 30%;
  left: 45%;
  transform: translate(-50%, -45%);
} */

.ad-main {
    position: relative;
    height: 95vh;
    background-image: linear-gradient(
        to right bottom ,
         rgba(255, 255, 207, 0.194),
          rgba(234, 209, 161, 0.776)),
        url(./assets/images/qg-member-pic.jpg);
    background-size: cover;
    background-position: center;
}


.ad-main p {
  display: block;
  font-family: 'Archivo', sans-serif;
  font-weight: 700;
  color: white;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}








 