* {
  margin: 0px;
  padding: 0px;
}

.App {
  text-align: center;
}

.ad-main {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(
      to right bottom ,
      rgba(0, 0, 0, 0.372)),
      url(./assets/images/qg-member-pic.jpg);
  background-size: cover;
  background-position: center;
}

.ad-main #first-text {
  display: block;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  color: white;
  font-size: 80px;
  white-space: nowrap;
  position: absolute;
  top: 70%;
  left: 45%;
  transform: translate(-50%, -50%)
}

.ad-main #second-text {
  display: block;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  color: white;
  font-size: 80px;
  white-space: nowrap;
  position: absolute;
  top: 84%;
  left: 18%;
  transform: translate(-50%, -50%)
}

/* #news- {
  position: absolute;
  display: block;
  top: 2em;
  width: 60%;
  font-size: 2em;
  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
} */

/* .newsArticles {
  position: relative;
  background-position: center;
  color: black;
  height: 30vh;

} */

/* .newsArticles > div {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  margin: 50px;
  font-size: 20px;
  color: black;
  top: 30%;
  left: 45%;
  transform: translate(-50%, -45%);
} */

.news-main {
  display: flex;
  padding: 0px;
  margin: 0px;
  width: 100%;
  flex-direction: row;
}

.news-main .event {
  background-color: #eee;
  width: 70%;
  height: 70vh;
}

.event-inner {
  padding: 35px;
}

.event-inner .ad-text {
  font-size: 30px;
  font-family: 'PT Sans', sans-serif;
  color: #595959;
  font-weight: bold;
}

.pokemon-go-event {
  width: 110px;
  height: 350px;
}

Carousel img{
  width: 10px;
}

.social-middle {
  width: 30%;
  background-color: #CCB000;
  height: 70vh;
  padding: 0px;
  position: relative;
}

.social-middle-inner {
  font-size: 40px;
  color: white;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  position: absolute;
  top: 25%;
  left: 5%;
}

.social-icons-middle a {
  padding: 15px;
}

.carousel-main .container {
  margin: 0px;
  padding: 0px;
}

.carousel-main .row {
  height: 55vh;
  margin: 0px;
  padding: 0px;
}


.mission-outer {
  background-image: linear-gradient(
        to right bottom , rgba(0, 0, 0, 0.468)),
        url(./assets/images/poke-walk.jpg);
  background-size: cover;
  background-position: center;
  height: 70vh;
  position: relative;
}

.mission-inner {
  position: absolute;
  top: 20%;
  padding: 30px;
}

.mission-inner .statement-1 {
  color: white;
  font-size: 30px;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
}

.mission-inner .statement-2 {
  color: white;
  font-size: 20px;
  font-family: 'PT Sans', sans-serif;
}





@media only screen and (max-width: 765px){
  .ad-main #first-text {
    font-size: 70px;
  }

  .ad-main #second-text {
    font-size: 70px;
  }

  .news-main {
    align-content: stretch;
    height: 100%;
    flex-direction: column;
  }

  .news-main .event {
    width: 100%;
  }

  .news-main .social-middle {
    width: 100%;
    height: 40vh;
  }

  .news-main .social-middle-inner {
    left: 29%;
  }

}

@media only screen and (max-width: 600px){
  .ad-main #first-text {
    font-size: 50px;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%)
  }
  
  .ad-main #second-text {
    font-size: 50px;
    top: 80%;
    left: 20%;
    transform: translate(-50%, -50%)
  }

  .news-main {
    align-content: stretch;
    height: 100%;
    flex-direction: column;
  }

  .news-main .event {
    width: 100%;
    height: 60vh;
  }

  .pokemon-go-event {
    width: 110px;
    height: 230px;
  }

  Carousel img {
    height: 30%;
  }

  .news-main .social-middle-inner {
    left: 23%;
  }

  .mission-inner {
    top: 0%;
    padding: 30px;
  }

}

@media only screen and (max-width: 400px){

  .ad-main #first-text {
    font-size: 70px;
    top: 40%;
    left: 40%;
    white-space: normal;
    font-weight: stronger;
    transform: translate(-50%, -50%);
    font-family: 'Abril Fatface', cursive;
  }
  
  .ad-main #second-text {
    font-size: 70px;
    top: 77%;
    left: 40%;
    font-weight: stronger;
    transform: translate(-50%, -50%);
    font-family: 'Abril Fatface', cursive;
  }

  .news-main .event {
    width: 100%;
    height: 70vh;
  }

  .pokemon-go-event {
    width: 110px;
    height: 200px;
  }

  .news-main .social-middle {
    height: 40vh;
  }

  .news-main .social-middle-inner {
    top: 15%;
    left: 7%;
  }
}







 