#news- {
    position: absolute;
    display: block;
    top: 2em;
    width: 60%;
    /* font-size: 2em; */
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  
  }

  .newsArticles {
    position: relative;
    background-position: center;
    color: white;
    height: 30vh;
  }
  
  .newsArticles > div {
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    margin: 50px;
    top: 30%;
    left: 45%;
    transform: translate(-50%, -45%);
  }

 .article {
  color: white;
  font-size: 25px;
  }