
.ad-main {
    position: relative;
    height: 95vh;
    background-image: linear-gradient(
        to right bottom ,
        rgba(0, 0, 0, 0.372)),
        url(../../../assets/images/qg-member-pic.jpg);
    background-size: cover;
    background-position: center;
  }
  
  .first-text {
    display: block;
    /* font-family: 'PT Sans', sans-serif; */ 
    font-family: 'Bungee', cursive;
    font-weight: bold;
    color: white;
    font-size: 80px;
    white-space: nowrap;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%)
  }
  
  .second-text {
    display: block;
    /* font-family: 'PT Sans', sans-serif; */
    font-family: 'Marker Felt', 'fantasy';
    font-weight: bold;
    color: white;
    font-size: 80px;
    white-space: nowrap;
    position: absolute;
    top: 84%;
    left: 50%;
    transform: translate(-50%, -50%)
  }

  @media only screen and (max-width: 765px){
    .first-text {
      font-size: 70px;
    }
  
    .second-text {
      font-size: 70px;
    }
  }

  @media only screen and (max-width: 600px){
    .first-text {
      font-size: 50px;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%)
    }
    
    .second-text {
      font-size: 50px;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%)
    }
}

@media only screen and (max-width: 400px){

    .first-text {
      font-size: 60px;
      top: 40%;
      left: 50%;
      white-space: normal;
      font-weight: stronger;
      transform: translate(-50%, -50%);
    }
    
    .second-text {
      font-size: 60px;
      top: 77%;
      left: 50%;
      white-space: normal;
      font-weight: stronger;
      transform: translate(-50%, -50%);
    }
}

@media only screen and (min-device-width: 375px) 
                   and (max-device-width: 667px) 
                   and (orientation: landscape) {

                    .ad-main {
                      height: 140vh;
                    }
                }
  