.mission-outer {
    background-size: cover;
    background-position: center;
    height: 80vh;
    position: relative;
  }
  
  .mission-inner {
    position: absolute;
    top: 10%;
    padding: 30px;
  }
  
  .mission-inner .statement-1 {
    color: black;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-family:'Bungee', cursive;
  }
  
  .mission-inner .statement-2 {
    color: black;
    font-size: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }

  @media only screen and (max-width: 600px){
    .mission-inner {
      top: 0%;
      padding: 30px;
    }
  }

  @media only screen and (min-device-width: 375px) 
                   and (max-device-width: 667px) 
                   and (orientation: landscape) {
                    .mission-outer {
                      height: 130vh;
                    }

                   }