.contact-us-image {
    height: 40vh;
    padding-top: 30px;
    background-image:
        linear-gradient(
            to right bottom, #faebd723, #FFEBCD),
            url(../../assets/images/contact-us-image.jpg);
    background-size: cover;
    background-position: center;
}

.contact-us-main {
    background-color: #eee;
}

.form-main {
    padding: 20px 90px 40px;
    border-radius: 5px;
}

.h1 {
    color: #505050;
    padding: 30px;
    font-family: 'Archivo Black', sans-serif;
}

.text {
    color: #505050;
    padding: 30px;
    font-family: 'Archivo Black', sans-serif;
}

.email-address {
    font-size: 20px;
    color: #505050;
    padding: 10px;
    padding-bottom: 30px;
    font-family: 'Archivo Black', sans-serif;
}