.contact-us-image {
    height: 40vh;
    padding-top: 30px;
    background-image: url(../../assets/images/contact-us-image.jpg);
    background-size: cover;
    background-position: center;
}

.contact-us-main {
    text-align: center;
}

.form-main {
    padding: 20px 90px 40px;
    border-radius: 5px;
}

.get-in-touch {
    padding: 10px;
    font-size: 4vw;
    font-family: 'Bungee', cursive;
    letter-spacing: 12%;
    text-shadow: -1px 0 #553FBE, 0 1px #553FBE, 6px 0 #553FBE, 0 -1px #553FBE;
    color: #ffffff;
}

.text {
    color: #000;
    padding: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    font-weight: bold;
}

.email-address {
    font-size: 3vw;
    color: #000;
    padding: 10px;
    font-family: 'Bungee', cursive;
}

@media only screen and (max-width:480px){
    .get-in-touch{
        font-size: 40px;
    }
}

@media only screen and (min-width:480px){
    .get-in-touch{
        font-size: 50px;
    }
}

@media only screen and (min-width:768px){
    .get-in-touch{
        font-size: 55px;
    }
}

@media only screen and (min-width:992px){
    .get-in-touch{
        font-size: 60px;
    }
}

@media only screen and (min-width: 1200px){
    .get-in-touch{
        font-size: 70px;
    }
}