.main {
    position: relative;
    height: 15vh;
    background-size: cover;
    background-position: cover;
}

.landing-statement {
    display: block;
    position: absolute;
    font-family: 'Bungee', cursive;
    font-size: 70px;
    font-weight: normal;
    white-space: normal;
    letter-spacing: 12%;
    top: 15%;
    left: 6%;
    text-shadow: -1px 0 #553FBE, 0 1px #553FBE, 6px 0 #553FBE, 0 -1px #553FBE;
    color: #ffffff;
    
}


@media only screen and (max-width:480px){
    .landing-statement{
        font-size: 40px;
    }

    .main {
        height: 50vh;
    }
}

@media only screen and (min-width:480px){
    .landing-statement{
        font-size: 50px;
    }
}

/* @media only screen and (max-width: 593px){
    .main {
        height: 40vh;
    }
} */

@media only screen and (min-width:768px){
    .landing-statement{
        font-size: 55px;
    }
}

@media only screen and (max-width:992px){
    .landing-statement{
        font-size: 60px;
    }

    .main{
        height: 30vh;
    }
}

@media only screen and (max-width: 1125px) and (min-width: 992px){
    .main {
        height: 30vh;
    }
}


@media only screen and (min-width: 1200px){
    .landing-statement{
        font-size: 70px;
    }
}

@media only screen and (max-width: 1312px) and (min-width: 1200px){
    .main {
        height: 35vh;
    }
}