.main {
  /* position: relative; */
  height: 15vh;
}

.landing-statement {
  /* position: absolute; */
  font-family: 'Bungee', cursive;
  font-size: 4.5vw;
  font-weight: normal;
  white-space: nowrap;
  letter-spacing: 0.1em;
  padding-top: 10px;
  /* left: 6%; */
  text-shadow: -1px 0 #553fbe, 0 1px #553fbe, 6px 0 #553fbe, 0 -1px #553fbe;
  color: #ffffff;
}

@media only screen and (max-width: 480px) {
  .landing-statement {
    display: none;
  }

  .main {
    display: none;
  }
}

/*
@media only screen and (min-width:480px){
    .landing-statement{
        font-size: 50px;
    }
} */

/* @media only screen and (max-width: 593px){
    .main {
        height: 40vh;
    }
} */

/* @media only screen and (min-width:768px){
    .landing-statement{
        font-size: 55px;
    }
}

@media only screen and (max-width:992px){
    .landing-statement{
        font-size: 60px;
    }

    .main{
        height: 30vh;
    }
}

@media only screen and (max-width: 1125px) and (min-width: 992px){
    .main {
        height: 30vh;
    }
}


@media only screen and (min-width: 1200px){
    .landing-statement{
        font-size: 70px;
    }
}

@media only screen and (max-width: 1312px) and (min-width: 1200px){
    .main {
       
    }
} */
