.outer {
    text-align: center;
}

.event-image {
    background-size: cover;
    height: 55vh;
    position: relative;
    background-image: url(../../assets/images/event-image.jpg);
}

.main-text {
    text-align:right;
    padding-right: 80px;
    font-size: 70px;
    font-family: 'Bungee', cursive;
    font-weight: normal;
    white-space: normal;
    letter-spacing: 12%;
    text-shadow: -1px 0 #553FBE, 0 1px #553FBE, 6px 0 #553FBE, 0 -1px #553FBE;
    color: #ffffff;
}

.event-message {
    font-size: 30px;
    height: 20vh;
    color: #505050;
    font-family: 'Archivo Black', sans-serif;
}

.event-profile-outer {
    height: 50vh;
    background-color: #553FBE;
}

.pokego-event-0915 {
    height: 300px;
}

@media only screen and (max-width: 765px){
    .event-image-inner {
        font-size: 30px;
    }

    .event-main {
        font-size: 25px;
    }

    .pokego-event-0915 {
        height: 250px;
    }
}

@media only screen and (max-width: 600px){
    .event-image-inner {
        font-size: 30px;
    }

    .event-main {
        font-size: 25px;
    }
    
    .pokego-event-0915 {
        height: 180px;
    }
}

@media only screen and (max-width:480px){
    .main-text{
        font-size: 40px;
    }
}

@media only screen and (min-width:480px){
    .main-text{
        font-size: 50px;
    }
}

@media only screen and (min-width:768px){
    .main-text{
        font-size: 55px;
    }
}

@media only screen and (min-width:992px){
    .main-text{
        font-size: 60px;
    }
}

@media only screen and (min-width: 1200px){
    .main-text{
        font-size: 70px;
    }
}