.footer {
    background-color: #CCB000;
    color: white; 
    font-family: 'Open Sans', sans-serif;
}

row {
    padding: 30px;
}

.social-media {
    flex: 0;
}

.footer-list:hover {
    color: gray !important;
}


