.footer {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #1d1e22;
    color: white; 
    font-family: 'Bungee', cursive;
}

.footer-container {
    margin-left: 30px;
    margin-right: 30px;
}

.logo-inner {
    text-align: center;
}

.connect-with-us-outer {
    position: relative;
}

.row {
    padding: 30px;
    text-align: center;
    
}

.privacy-policy {
    color: #eee !important;
    font-weight: bolder;
}

.connect-with-us {
    padding-right: 60px;
    position: absolute;
    top: 30%;
    white-space: nowrap;
}


.footer-list:hover {
    color: gray !important;
}

.social-icons a {
    padding-top: 0px;
    padding-bottom: 12px;
    padding-right: 17px;
}

@media only screen and (max-width: 600px){
    .social-icons {
        display: none;   
    }
}


