.footer {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #1d1e22;
    color: white; 
    font-family: 'Bungee', cursive;
}

row {
    padding: 30px;
}
/* 
.social-media {
    flex: 0;
} */

.footer-list:hover {
    color: gray !important;
}

.social-icons a {
    padding-top: 0px;
    padding-bottom: 12px;
}

@media only screen and (max-width: 600px){
    .social-icons {
        display: none;   
    }
}


