.intro-main {
    position: relative;
    height: 50vh;
    background-color: white;
    color: black;
    font-size: 30px;
}

.intro-p-1 {
    position: absolute;
    margin: 50px;
    top: 30%;
    left: 45%;
    transform: translate(-50%, -45%);
}

.intro-p-2 {
    position: absolute;
    margin: 50px;
    top: 40%;
    left: 55%;
    transform: translate(-50%, -45%);
}
