$primaryFontColor: #505050;
.about-main {
    text-align: center;
}
.about-image {
    height: 40vh;
    padding-top: 30px;
    background-image: 
        linear-gradient(
            to right bottom,
             #faebd723, #FFEBCD), 
            url(../../assets/images/about-bg.jpg);
    background-size: cover;
    background-position: center;
}

.h1 {
    color: $primaryFontColor;
    padding: 30px;
    font-family: 'Archivo Black', sans-serif;
} 


.about-paragraph {
    color: $primaryFontColor;
    /* margin: 40px; */
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    letter-spacing: 2px;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
}


h3 {
    padding-top: 30px;
    color: $primaryFontColor;
    font-size: 2.5rem;
    font-family: 'Archivo Black', sans-serif;
}

