$primaryFontColor: #505050;

.about-image {
    height: 40vh;
    padding-top: 30px;
    background-image: 
        linear-gradient(
            to right bottom,
             #faebd723, #FFEBCD), 
            url(./about-bg.jpg);
    background-size: cover;
    background-position: center;
}

.h1 {
    color: $primaryFontColor;
    padding: 30px;
    font-family: 'Archivo Black', sans-serif;
} 

.about-paragraph {
    color: $primaryFontColor;
    /* margin: 40px; */
    font-family: 'Open Sans', sans-serif;
    padding-left: 30px;
    padding-right: 30px;
}

.about-second-half {
    background-color: #eee;
}

h3 {
    padding-top: 30px;
    color: white;
    font-size: 2.5rem;
    font-family: 'Archivo Black', sans-serif;
}

