$primaryFontColor: #505050;

.member-outer {
    color: $primaryFontColor;
    font-family: 'Archivo Black', sans-serif;
    position: relative;
    top: 30px;
}

.main-text {
    position: absolute;
    display: inline-block;
    font-family: 'Bungee', cursive;
    font-size: 4vw;
    font-weight: normal;
    white-space: nowrap;
    letter-spacing: 34%;
    top: 2%;
    left: 28%;
    text-shadow: -1px 0 #553FBE, 0 1px #553FBE, 6px 0 #553FBE, 0 -1px #553FBE;
    color: #ffffff;
}

.row {
    width: auto
}

.member-profile-main {
  padding: 60px;  
}

.image-cropper {
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.head-shot-photo {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}